extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Home
  article.grid-container.portfolio-intro
    div
      h1= `${err.statusCode}: ${err.message}`
      p.lead.text-light
        if err.statusCode == 404
            | Oops! It looks like the page you are looking for does not exist!
        else
            | Oops! It looks like a bug is crawling around back there! 
    p.lead.text-light= err.stack