extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      //- Add a title or heading like My Portfolio, or Hey, Potential Employers, or Let's make the web great together! 
      h1 Project Portfolio


      p.lead.text-light
        | Welcome to my project portfolio! Here you will find projects related to my Full Stack JavaScript journey. I encourage you to peruse around and check out each project by clicking on the project image below. For each project you will find a simple description and be able to check out a live demo of the project. To get started with a random project to check out click 
        a.random-project(href="/projects") here
        | !

  article.grid-container.portfolio-index

    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      each project in projects
        .cell.projects
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=project.image_urls[0])
            h5= project.project_name

